site_name: Platypus
theme:
  name: material

plugins:
  - mermaid2

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.superfences
  - footnotes
  - attr_list
  - def_list
  - meta
  - admonition
  - pymdownx.tasklist

extra:
  analytics:
    provider: google
    property: G-KP1YVKRC1Y
