name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.2.0
      with:
        node-version: '14'

    - name: Build
      run: make release

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: build/platypus/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
